$primary: #35c9dd;
$primary-dark: #02afc5;
$primary-light: #a9f3fd;

$secondary: #f0e14a;
$secondary-dark: #c0b43b;
$secondary-light: #f3e76e;

$dark: #333333;
$dark-light: #797979;

$dark-white: #DDDDDD;
