%button {
  background-color: $primary;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: $primary-dark;
  }

  &:disabled {
    background-color: $dark-white;
    color: $dark-light;
  }
}

@mixin card($height: 365px) {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: $height;
  border: 5px solid $dark-white;
  border-radius: 8px;
}