@import '../../variables/colors';
@import '../../variables/mixins';

.card {
  @include card(340px);
  
  &:hover {
    box-shadow: 0px 0px 8px $dark-white;
  }

  img {
    width: 100%;
    max-height: 190px;
    border-radius: 4px 4px 0 0;
    position: relative;
  }

  &__header {
    position: relative;
    height: 193px;
  }

  &__points {
    position: absolute;
    font-weight: 700;
    font-size: 1.4rem;
    right: 0;
    bottom: 0;
    background: $green;
    border: 2px solid $dark-green;
    margin: 8px 4px;
    width: 41px;
    height: 41px;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;

    h2 {
      font-size: 1.2rem;
    }

    &__status,
    &__label,
    p {
      font-size: 0.8rem;
    }

    &__label {
      font-weight: 600;
      color: $dark-light;
    }
  }
}
